pipeline/Churn_Dna_Orachestration.json
{
	"name": "Churn_Dna_Orachestration",
	"properties": {
		"activities": [
			{
				"name": "Notebook_LookupLocation",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_TransactionHeader",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 500,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rahul_vig@saveonfoods.com/Lookup_Location"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SendEmail_Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Notebook_POSStoreDailyItemHH",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.westus2.logic.azure.com:443/workflows/542264d990fa43479508293a09c89e2e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JkFYxCGkt7_UwCie5qnk9GmRcPvzzQO1o3ov4Eq5mWg",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"Pipeline Run Finished\",\n\"message\":\"Churn Dna Orach Pipiline Finished Successfully\",\n\"color\":\"Green\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"pipelineRunId\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LocationSendEmail_Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Notebook_LookupLocation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.westus2.logic.azure.com:443/workflows/542264d990fa43479508293a09c89e2e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JkFYxCGkt7_UwCie5qnk9GmRcPvzzQO1o3ov4Eq5mWg",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"Pipeline Run Failed\",\n\"message\":\"@{activity('Notebook_LookupLocation').error.message}\",\n\"color\":\"Red\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"pipelineRunId\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Notebook_TransactionHeader",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rahul_vig@saveonfoods.com/TRANSACTIONHEADER"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_POSStoreDailyItemHH",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 1,
					"retryIntervalInSeconds": 1800,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rahul_vig@saveonfoods.com/Z1_Delta_Pos_Daily_Store_Item_HH"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_Mx_Coupon",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rahul_vig@saveonfoods.com/Z1_Delta_Mx_Coupon"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_Mx_ProductPurchase",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rahul_vig@saveonfoods.com/Z1_Delta_Mx_ProductPurchase"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_Mx_Tender",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_Mx_Coupon",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rahul_vig@saveonfoods.com/Z1_Z3_Mx_Tender"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook_Mx_Points",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook_Mx_ProductPurchase",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/rahul_vig@saveonfoods.com/Mx_Points"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-08-21T05:47:40Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}