pipeline/DIMAdVehicle_SCD6.json
{
	"name": "DIMAdVehicle_SCD6",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_AdVehicle",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSVZone1",
						"type": "DatasetReference",
						"parameters": {
							"SrcContainer": "retail-data",
							"SrcDIR": "internal/LDW/CSV/Offer&Promotion/AD_VEHICLE/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_AdVehicles",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Metadata_AdVehicle",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Metadata_AdVehicle').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "AdVehicle_InitialSCD6",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "AD_VEHICLE_InitialSCD6",
									"type": "DataFlowReference",
									"datasetParameters": {
										"ADVehicleParquetSCD": {
											"SrcContainer": "retail-data",
											"SrcDIR": "internal/LDW/CSV/Offer&Promotion/AD_VEHICLE/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
											"SrcFileName": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntimeNew",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "None"
							}
						},
						{
							"name": "Copy_Failure",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "AdVehicle_InitialSCD6",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SaleTypeZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "retail-data",
										"SrcDIR": "internal/LDW/CSV/Offer&Promotion/AD_VEHICLE/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SaleTypeZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "retail-data",
										"SrcDIR": "internal/LDW/CSV/Offer&Promotion/AD_VEHICLE/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/Failure",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "MoveMulitipleFilesAdVehicle",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "AdVehicle_InitialSCD6",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": "Internal/LDW/Parquet/Offer&Promotion-DIM/AD_VEHICLE/Temp",
										"wildcardFileName": "*.parquet",
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Ad_Vehicle_Surrogate_Id",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "Ad_Vehicle_Surrogate_Id",
												"type": "Int64",
												"physicalType": "INT_64"
											}
										},
										{
											"source": {
												"name": "ID",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "ID",
												"type": "Int64",
												"physicalType": "INT_64"
											}
										},
										{
											"source": {
												"name": "Publication_Entity_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Publication_Entity_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Publication_Entity_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Publication_Entity_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Section_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Section_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Section_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Section_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Page_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Page_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Page_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Page_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Total_Pages",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Total_Pages",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Total_Pages",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Total_Pages",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Section_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Section_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Section_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Section_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Spot_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Spot_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Spot_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Spot_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Spot_Type",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Spot_Type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Spot_Type",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Spot_Type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Page",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Page",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Page",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Page",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Section",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Section",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Section",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Section",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Spot",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Spot",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Spot",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Spot",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Spot_Position",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Spot_Position",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Spot_Position",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Spot_Position",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Vehicle_Offer_Duration",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Vehicle_Offer_Duration",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Vehicle_Offer_Duration",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Vehicle_Offer_Duration",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Section_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Section_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Section_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Section_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Spot_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Spot_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Spot_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Spot_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Spot_Position_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Spot_Position_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Spot_Position_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Spot_Position_Full_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Publication_Version",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Publication_Version",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Publication_Version",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Publication_Version",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Main_Ad_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Main_Ad_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Main_Ad_Description",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Main_Ad_Description",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Ad_Varieties",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Ad_Varieties",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Ad_Varieties",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Ad_Varieties",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Last_Changed",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Last_Changed",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Last_Dml",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Last_Dml",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Eff_Start_Dt",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Eff_Start_Dt",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Eff_End_Dt",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Eff_End_Dt",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "IsActive",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "IsActive",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Crc_Val",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Crc_Val",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AdVehicleReadMultipleTempParquetFiles",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AdVehicleZone3TGT",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-09-16T06:22:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}