pipeline/DIMCustomer_SCD6.json
{
	"name": "DIMCustomer_SCD6",
	"properties": {
		"activities": [
			{
				"name": "Get_Metadata_Customer",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CSVZone1",
						"type": "DatasetReference",
						"parameters": {
							"SrcContainer": "master-data",
							"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Customer",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Metadata_Customer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Metadata_Customer').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_Succeeded",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MoveFilesFromTempToFinal",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AdVehicleZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SaleTypeZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy_Failure",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "CUSTOMER_InitialSCD6",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SaleTypeZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SaleTypeZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/Failure",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SrcDelete",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy_Succeeded",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AdVehicleZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "CUSTOMER_InitialSCD6",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "CUSTOMER_InitialSCD6",
									"type": "DataFlowReference",
									"datasetParameters": {
										"CustomerParquetSCD": {
											"SrcContainer": "master-data",
											"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
											"SrcFileName": {
												"value": "@item().name",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "integrationRuntimeNew",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "None"
							}
						},
						{
							"name": "SrcDelete_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy_Failure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AdVehicleZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "Copy_Failure_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "MoveFilesFromTempToFinal",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SaleTypeZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SaleTypeZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/Failure",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SrcDelete_copy1_copy1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy_Failure_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "AdVehicleZone1SRC",
									"type": "DatasetReference",
									"parameters": {
										"SrcContainer": "master-data",
										"SrcDIR": "internal/LDW/CSV/Customer/CUSTOMER/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/UNPROCESSED",
										"SrcFileName": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "Backup_CustomerDimension_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SrcDelete_copy1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": false,
										"wildcardFolderPath": "internal/LDW/Parquet/Customer-DIM/CUSTOMER/Final",
										"wildcardFileName": "*.parquet"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Customer_Surrogate_Id",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "Customer_Surrogate_Id",
												"type": "Int64",
												"physicalType": "INT_64"
											}
										},
										{
											"source": {
												"name": "ID",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "ID",
												"type": "Int64",
												"physicalType": "INT_64"
											}
										},
										{
											"source": {
												"name": "Household_Id",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Household_Id",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Household_Id",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Household_Id",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Card_Number",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "Current_Card_Number",
												"type": "Int64",
												"physicalType": "INT_64"
											}
										},
										{
											"source": {
												"name": "Current_Segment_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Segment_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Current_Segment_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Current_Segment_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Primary_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Primary_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Primary_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Primary_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Customer_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Customer_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Customer_Name",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Customer_Name",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Address_Status",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Address_Status",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Address_Status",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Address_Status",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Customer_Address",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Customer_Address",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Customer_Address",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Customer_Address",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Customer_Phone",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Customer_Phone",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Household_City",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Household_City",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Household_City",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Household_City",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Household_Postal_Code",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Household_Postal_Code",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Household_Postal_Code",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Household_Postal_Code",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Card_Type",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Card_Type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Card_Type",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Card_Type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "New_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "New_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_New_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_New_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Email_Status",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Email_Status",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Email_Status",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Email_Status",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Card_Email",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Card_Email",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Ecomm_Email",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Ecomm_Email",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Send_Email_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Send_Email_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Send_Email_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Send_Email_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Send_Mail_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Send_Mail_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Send_Mail_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Send_Mail_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "TM_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "TM_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_TM_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_TM_Card_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "TM_Location_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "TM_Location_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_TM_Location_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_TM_Location_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "TM_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "TM_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_TM_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_TM_Household_Flag",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Card_Issue_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_Card_Issue_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Current_First_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_First_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Current_Last_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_Last_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Primary_Store_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Primary_Store_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Primary_Store_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Primary_Store_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_First_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_First_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Current_Last_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_Last_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Primary_Ecomm_Store_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Primary_Ecomm_Store_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Primary_Ecomm_Store_Number",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Primary_Ecomm_Store_Number",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "HHN_First_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "HHN_First_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Current_HHN_First_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_HHN_First_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "HHN_First_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "HHN_First_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Current_HHN_First_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_HHN_First_Ecomm_Shop_Date",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Household_Ecomm_Type",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Household_Ecomm_Type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Household_Ecomm_Type",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Household_Ecomm_Type",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Household_Shopping_Chanel",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Household_Shopping_Chanel",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Household_Shopping_Chanel",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Household_Shopping_Chanel",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Current_Lifetime_Points_Total",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Lifetime_Points_Total",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Lifetime_Points_Redeem",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Lifetime_Points_Redeem",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Lifetime_Spend",
												"type": "Double",
												"physicalType": "DOUBLE"
											},
											"sink": {
												"name": "Current_Lifetime_Spend",
												"type": "Double",
												"physicalType": "DOUBLE"
											}
										},
										{
											"source": {
												"name": "Current_Points_Balance",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Points_Balance",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Current_Points_Balance",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Current_Points_Balance",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Date_Of_Birth",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Current_Date_Of_Birth",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Current_Age",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "Current_Age",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Current_Age_Group",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Current_Age_Group",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Last_Changed",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Last_Changed",
												"type": "String",
												"physicalType": "UTF8"
											}
										},
										{
											"source": {
												"name": "Last_Dml",
												"type": "Int64",
												"physicalType": "INT64"
											},
											"sink": {
												"name": "Last_Dml",
												"type": "Int64",
												"physicalType": "INT_64"
											}
										},
										{
											"source": {
												"name": "Eff_Start_Dt",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Eff_Start_Dt",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "Eff_End_Dt",
												"type": "DateTime",
												"physicalType": "DATE"
											},
											"sink": {
												"name": "Eff_End_Dt",
												"type": "DateTime",
												"physicalType": "INT_96"
											}
										},
										{
											"source": {
												"name": "IsActive",
												"type": "Int32",
												"physicalType": "INT32"
											},
											"sink": {
												"name": "IsActive",
												"type": "Int32",
												"physicalType": "INT_32"
											}
										},
										{
											"source": {
												"name": "Crc_Val",
												"type": "String",
												"physicalType": "UTF8"
											},
											"sink": {
												"name": "Crc_Val",
												"type": "String",
												"physicalType": "UTF8"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "CustomerTempZone3",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "CustomerParquetTGT",
									"type": "DatasetReference",
									"parameters": {
										"TGTDir": "internal/LDW/Parquet/Customer-DIM/CUSTOMER/BKP/@{formatDateTime(utcnow(),'yyyy')}/@{formatDateTime(utcnow(),'MM')}/@{formatDateTime(utcnow(),'DD')}"
									}
								}
							]
						},
						{
							"name": "MoveFilesFromTempToFinal",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "MakeEmptyFinalDIR",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "Customer_FinalSCD6",
									"type": "DataFlowReference",
									"datasetParameters": {
										"CustomerTGT": {
											"TGTDir": "internal/LDW/Parquet/Customer-DIM/CUSTOMER/Final"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine",
								"runConcurrently": true
							}
						},
						{
							"name": "MakeEmptyFinalDIR",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "CUSTOMER_InitialSCD6",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "CustomerParquetTGT",
									"type": "DatasetReference",
									"parameters": {
										"TGTDir": "internal/LDW/Parquet/Customer-DIM/CUSTOMER/Final"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-02-22T00:29:01Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}