pipeline/RunServiceNowCustomerCalls.json
{
	"name": "RunServiceNowCustomerCalls",
	"properties": {
		"activities": [
			{
				"name": "RunServiceNowCustomerCalls",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ServiceNowCustomerCalls",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ServiceNowCustomerSendEmail_Success",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RunServiceNowCustomerCalls",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.westus2.logic.azure.com:443/workflows/542264d990fa43479508293a09c89e2e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JkFYxCGkt7_UwCie5qnk9GmRcPvzzQO1o3ov4Eq5mWg",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"Pipeline Run Finished\",\n\"message\":\"Service Now Customer Call Finished Successfully\",\n\"color\":\"Green\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"pipelineRunId\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ServiceNowCustomerEmail_Failure",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "RunServiceNowCustomerCalls",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-07.westus2.logic.azure.com:443/workflows/542264d990fa43479508293a09c89e2e/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JkFYxCGkt7_UwCie5qnk9GmRcPvzzQO1o3ov4Eq5mWg",
					"method": "POST",
					"body": {
						"value": "{\n\"title\":\"Pipeline Run Failed\",\n\"message\":\"@{activity('RunServiceNowCustomerCalls').error.message}\",\n\"color\":\"Red\",\n\"dataFactoryName\":\"@{pipeline().DataFactory}\",\n\"pipelineName\":\"@{pipeline().Pipeline}\",\n\"pipelineRunId\":\"@{pipeline().RunId}\",\n\"time\":\"@{utcnow()}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-05-31T17:55:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}